<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Contactinfo</title>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 20.33%;
          padding: 3px;
        }
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/resume">My Resume</a>
        <div class="topnav-right">
            <a class="active" href="/contact">Contact</a>
        </div>
    </div>
    <h1>Click Below To Visit My :</h1>
    <div class="row">
        <div class="column">
            <h3 style="color: blue;">Github Account :</h3>
            <a href="https://github.com/Chandanhs19mar1999"><img alt="Qries" src="/static/images/githublogo.png" width="150" height="70"></a>
        </div>
        <div class="column">
            <h3 style="color: blue;">LinkedIn Account :</h3>
            <a href="https://www.linkedin.com/in/chandanhs19mar1999/"><img alt="Qries" src="/static/images/inlogo.png" width="150" height="70"></a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h3 style="color: blue;">HackerRank Account :</h3>
            <a href="https://www.hackerrank.com/chandanhs19mar"><img alt="Qries" src="/static/images/hackerrank.jpeg" width="150" height="70"></a>
        </div>
        <div class="column">
            <h3 style="color: blue;">Instagram Account :</h3>
            <a href="https://www.instagram.com/chandanhs19mar1999/"><img alt="Qries" src="/static/images/insta.jpeg" width="150" height="70"></a>
        </div>
    </div>
</body>
</html>