<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>My Resume</title>
    <style>
        table, th, td {
          border: 1px solid #3016c7;
          border-collapse: collapse;
        }
        th, td {
                 padding: 15px;
               }
        
        .topright{
                position: absolute;
                top: 48px;
                right: 7px;
                font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/resume">My Resume</a>
        <div class="topnav-right">
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="topright">
        <img src = "/static/images/imgr1.jpg" alt="Image" width="85" height="100">
   </div>
   <h1 style="color: mediumblue;">Chandan H S</h3>
   <h1 style="color: mediumblue;">19-03-1999</h3>
   <hr/>
   <h1 style="color: navy;">Projects:-</h1>
   <ul>
       <li>Tomato Plant Diseases Detection Using Image Processing and Machine Learning</li>
       <li>Book Reseller web applicaton</li>
       <li>Newsapplication website</li>
       <li>Team ISYS website</li>
       <li>Student Profiling using swings</li>
   </ul>
   <hr/>
   <h1 style="color: navy;">Education:-</h1>
   <table style="width:90%">
    <tr>
      <th>Qualification</th>
      <th>Institute/University</th> 
      <th>Percentage/CGPA</th>
    </tr>
    <tr>
      <td>B.E Information science and Engineering 3rd Year</td>
      <td>Siddaganga Institute Of Technology</td>
      <td>8.8</td>
    </tr>
    <tr>
      <td>PUC</td>
      <td>Sir M.V PU College</td>
      <td>94.66</td>
    </tr>
    <tr>
      <td>SSLC</td>
      <td>Jawaharlal Nehru Engish School</td>
      <td>93.44</td>
    </tr>
  </table>
  <hr/>
  <h1 style="color: navy;">Skills :-</h1>
  <h2 style="color: blue;">Programming Languages:</h2>
  <ul><li>C,C++,Java,Python</li></ul>
  <h2 style="color: blue;">Web Technology:</h2>
  <ul><li>Flask,HTML,CSS,JavaScript</li></ul>
  <h2 style="color: blue;">DataBase:</h2>
  <ul><li>Mysql</li></ul>
  <h2 style="color: blue;">Applications/Tools:</h2>
  <ul><li>Open CV, scikit-learn,Git</li></ul>
  <h2 style="color: blue;">Operating System:</h2>
  <ul><li>Ubuntu,Windows</li></ul>
  <hr/>
  <h1 style="color: navy;">Hobbies :-</h1>
  <ul><li> Trekking,Travelling</li></ul>
  <hr/>
  <h1 style="color: navy;">Languages :-</h1>
  <ul><li>English,Kannada</li></ul>
  <hr/>
</body>
</html>